block footer
	section.related
		p If you enjoyed these games you might also like:

		ul.bxslider
			
				li
					a(href='#')
						img(src='http://tympanus.net/codrops/wp-content/uploads/2014/03/TiltedContentSlideshow-300x162.jpg')
						h3 Tilted Content Slideshow
				li
					a(href='#')
						img(src='http://tympanus.net/codrops/wp-content/uploads/2013/07/GridLoadingEffects-300x162.png')
						h3 Loading Effects for Grid Items