block footer
	section.related
		p If you enjoyed this demo you might also like:
		a(href='http://tympanus.net/Tutorials/TiltedContentSlideshow/')
			img(src='http://tympanus.net/codrops/wp-content/uploads/2014/03/TiltedContentSlideshow-300x162.jpg')
			h3 Tilted Content Slideshow
		a(href='http://tympanus.net/Development/GridLoadingEffects/')
			img(src='http://tympanus.net/codrops/wp-content/uploads/2013/07/GridLoadingEffects-300x162.png')
			h3 Loading Effects for Grid Items
	// /container