block footerLinks
	script(src='/js/classie.js')
	script(src='/js/helper.js')
	script(src='/js/grid3d.js')
	script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js')
	script.
		new grid3D( document.getElementById( 'grid3d' ) );