block footerLinks
	script(src='/js/classie.js')
	script(src='/js/helper.js')
	script(src='/js/grid3d.js')
	script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js')
	script(src='http://bxslider.com/js/jquery.min.js')
	script(src='http://bxslider.com/lib/jquery.bxslider.js')
	//script(src='/js/functions.js')
	script.
		new grid3D( document.getElementById( 'grid3d' ) );