block links
    link(rel='stylesheet', type='text/css', href='/css/normalize.css')
    link(rel='stylesheet', type='text/css', href='/css/demo.css')
    link(rel='stylesheet', type='text/css', href='/css/component.css')
    link(rel='stylesheet', type='text/css', href='http://bxslider.com/lib/jquery.bxslider.css')
    script(src='/js/modernizr.custom.js')
  body
block content